vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Apr 2021 08:52:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|tp_biz55_yellow/about.html tp_biz55_yellow/finish.html tp_biz55_yellow/form.html tp_biz55_yellow/index.html tp_biz55_yellow/confirm.html tp_biz55_yellow/contact.html tp_biz55_yellow/recruit.html tp_biz55_yellow/works.html
vti_author:SR|DESKTOP-1UMQFO4\\renta
vti_modifiedby:SR|DESKTOP-1UMQFO4\\renta
vti_timecreated:TR|07 Apr 2021 08:52:30 -0000
vti_cacheddtm:TX|07 Apr 2021 08:52:30 -0000
vti_filesize:IR|26904
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css2 Q|https://fonts.googleapis.com/css2 Q|keyframes.css S|../images/footer_logo.png S|../images/arrow2.png S|../images/arrow3.png S|../images/icon_menu.png S|../images/icon_menu.png
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css2 NQSS|https://fonts.googleapis.com/css2 FQUS|tp_biz55_yellow/css/keyframes.css FSUS|tp_biz55_yellow/images/footer_logo.png FSUS|tp_biz55_yellow/images/arrow2.png FSUS|tp_biz55_yellow/images/arrow3.png FSUS|tp_biz55_yellow/images/icon_menu.png FSUS|tp_biz55_yellow/images/icon_menu.png
